
.env
.env.*
!.env.example


target/
**/target/

.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.iws
*.ipr

.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

build/
**/build/

.vscode/

*.log
logs/

.DS_Store
Thumbs.db

*.tmp
*.temp
*.swp
*.swo